<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1">
  <title>Ractive test</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/pure/0.6.0/pure-min.css">

</head>

<body>
  
  <!--
       1. This is the element we'll render our Ractive to.
  -->
  <div id='container'></div>

  <!--
       2. You can load a template in many ways. For convenience, we'll include it in
       a script tag so that we don't need to mess around with AJAX or multiline strings.
       Note that we've set the type attribute to 'text/ractive' - though it can be
       just about anything except 'text/javascript'
  -->
<script id='template' type='text/ractive'>  
<div class="pure-g">
	<div class="pure-u-1-3" ></div> 
	<div class="pure-u-1-3" >
	<h1>Ractive test</h1>
	<form class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label for="from">From</label>
				<input id="from" type="text" placeholder="From" list="cities2" value="{{from}}"  autofocus required>			
			</div>

			<div class="pure-control-group">
				<label for="to">To</label>
				<input id="to" type="text" placeholder="To" list="cities2" value="{{to}}" required>
			</div>

			<div class="pure-control-group">
				<label for="otwDate">Outward Date</label>
				<input id="otwDate" type="text" placeholder="DD.MM.YYYY" value="{{otwDate}}" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" required>
			</div>

			<div class="pure-control-group">
				<label for="retDate">Return Date</label>
				<input id="retDate" type="text" placeholder="DD.MM.YYYY" value="{{retDate}}" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" required>
			</div>

			<div class="pure-controls">
				<button on-click='submit' type="button" class="pure-button pure-button-primary">Submit</button>
			</div>
		</fieldset>
	</form>
					
	<datalist id="cities2">
		{{#each selectableCities:num}}
			<option value="{{selectableCities[num]}}">
		{{/each}}
	</datalist>
	
	{{#if visible}}
		<h2>Outward Journey</h2>
		<p>From <b>{{from}}</b>       to <b>{{to}}</b> Date <b>{{otwDate}}</b></p>
		<table class='pure-table pure-table-striped' >
			<thead>
				<tr>		
					<th>Departure</th>
					<th>Arrival</th>
					<th>Duration</th>
					<th>Change</th>
					<th>Fares</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each outTrains:num}}
				<tr>	
					<td>{{dep}}</td>
					<td>{{arr}}</td>
					<td>{{dur}}</td>
					<td>{{chg}}</td>
					<td>{{fares}}</td>
					<td><input type="radio" name="{{selOutTrain}}" value="{{num}}"></td>
				</tr>
				{{/each}}
			<tbody>
		</table>
		<br>
		
		<h2>Return Journey</h2>
		<p>From <b>{{to}}</b>	to <b>{{from}}</b> Date <b>{{retDate}}</b></p>
		<table class='pure-table pure-table-striped' >
			<thead>
				<tr>
					<th>Departure</th>
					<th>Arrival</th>
					<th>Duration</th>
					<th>Change</th>
					<th>Fares</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each incTrains:num}}
				<tr>
					<td>{{dep}}</td>
					<td>{{arr}}</td>
					<td>{{dur}}</td>
					<td>{{chg}}</td>
					<td>{{fares}}</td>
					<td><input type="radio" name="{{selIncTrain}}" value="{{num}}"></td>
				</tr>
				{{/each}}
			<tbody>
		</table>
		<br>
		<br>
		<form class="pure-form pure-form-aligned">
			<fieldset>
				<div class="pure-control-group">
					<label for="payment">Amount to Pay (Eur€)</label>
					<input id="payment" type="text" placeholder="Amount to Pay" value="{{payment}}" readonly>
				</div>

				<div class="pure-control-group">
					<label for="ccNumber">Credit Card Number</label>
					<input id="ccNumber" type="text" placeholder="Credit Card Number" value="{{ccNumber}}" pattern="\d{13,16}" required>
				</div>

				<div class="pure-control-group">
					<label for="secCode">Security Code</label>
					<input id="secCode" type="text" placeholder="Security Code" value="{{secCode}}" pattern="\d{3}" required>
				</div>

				<div class="pure-control-group">
					<label for="cardHolderName">Card Holder Name</label>
					<input id="cardHolderName" type="text" placeholder="Card Holder Name" value="{{cardHolderName}}" pattern="[\w\s]+" required>
				</div>
				
				<div class="pure-control-group">
					<label for="ccExpiry">CC Expiry Date</label>
					<input id="ccExpiry" type="text" placeholder="MM/YY" value="{{ccExpiry}}" pattern="\d{2}/\d{2}" required>
				</div>

				<div class="pure-controls">
					<label for="cb" class="pure-checkbox">
						<input id="cb" type="checkbox" checked='{{terms}}'> I've read the terms and conditions
					</label>

					<button on-click='pay' type="button" class="pure-button pure-button-primary" >Pay</button>
				</div>
			</fieldset>
		</form>
	{{/if}}
	
	</div>
	<div class="pure-u-1-3" ></div>
</div>
</script>


<script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
<script>
	var db = {
		"cities": [
			"Wien",
			"Rom",
			"Berlin",
			"München",
			"Bratislava",
			"Paris",
			"Prag",
			"Budapest",
			"Madrid",
			"Amsterdam",
			"Kopenhagen",
			"Brüssel",
			"Bern"
		],
		"connections": {"Mon":[{dep:"07:42",arr:"13:09",chg:"3",fares:"79.20"},
							  {dep:"08:57",arr:"14:55",chg:"3",fares:"79.20"},
							  {dep:"11:30",arr:"17:09",chg:"3",fares:"79.20"},
							  {dep:"13:30",arr:"19:00",chg:"4",fares:"79.20"}],
					   "Tue":[{dep:"06:45",arr:"09:12",chg:"1",fares:"65.80"},
							  {dep:"08:00",arr:"10:25",chg:"1",fares:"65.80"},
							  {dep:"10:35",arr:"12:59",chg:"1",fares:"65.80"},
							  {dep:"14:05",arr:"16:33",chg:"1",fares:"65.80"},
							  {dep:"16:05",arr:"18:26",chg:"1",fares:"65.80"}],
					   "Wed":[{dep:"06:03",arr:"11:45",chg:"1",fares:"39.98"},
							  {dep:"08:04",arr:"12:35",chg:"2",fares:"64.43"},
							  {dep:"10:33",arr:"15:35",chg:"2",fares:"51.79"},
							  {dep:"10:33",arr:"16:40",chg:"1",fares:"48.48"},
							  {dep:"13:57",arr:"18:30",chg:"2",fares:"57.97"},
							  {dep:"13:57",arr:"19:30",chg:"1",fares:"58.48"},
							  {dep:"16:05",arr:"20:38",chg:"1",fares:"64.10"}],
					   "Thu":[{dep:"09:20",arr:"15:01",chg:"1",fares:"51.98"},
						 	  {dep:"11:20",arr:"17:00",chg:"1",fares:"65.65"},
						 	  {dep:"12:20",arr:"17:00",chg:"2",fares:"64.29"},
							  {dep:"15:20",arr:"20:24",chg:"1",fares:"45.48"}],
					   "Fri":[""],
					   "Sat":[""],
					   "Sun":[""]
		}
	}
	
	// round to at least 2 digits
	Number.prototype.pad = function(size) {
      var s = String(this);
      while (s.length < (size || 2)) {s = "0" + s;}
      return s;
    }
	
	function duration(time1,time2){
		var t1 =  time1.split(":");
		var t2 =  time2.split(":");
		var hour = 0;
		var min = 0;
		var dur = 0;
		var s1 = ((Number(t1[0])*60)+(Number(t1[1])))*60;
		var s2 = ((Number(t2[0])*60)+(Number(t2[1])))*60;

		dur = ((s2 - s1)/60);
		hour = Math.floor(dur/60);
		min = dur % 60;
		
		return (hour.pad() + ':' + min.pad());	
	}
	
	
    var ractive = new Ractive({	
		el: '#container',
		template: '#template',
		data: { 
			visible: false,
			outTrains: [],
			incTrains: [],
			selOutTrain: 0,
			selIncTrain: 0,
			payment: 0,
			selectableCities: db.cities
		}
    });
	
	ractive.on( 'submit', function () {
		var validLoc = false;
		var validDest = false;
		
		for(i = 0; i < db.cities.length;i++){
			if( db.cities[i].toUpperCase() == ractive.get('from').toUpperCase()){
				validLoc = true;
			}
		}
		
		for(i = 0; i < db.cities.length;i++){
			if( db.cities[i].toUpperCase() == ractive.get('to').toUpperCase()){
				validDest = true;
			}
		}
		
		if(validLoc && validDest){
			var outConn = [];
			var incConn = [];
			
			for(i = 0; i < db.connections.Mon.length; i++){
				var temp = { dep:'', arr:'', dur:'',chg:'',fares:''};
				temp.dep = db.connections.Mon[i].dep;
				temp.arr = db.connections.Mon[i].arr;
				temp.chg = db.connections.Mon[i].chg;
				temp.dur = duration(db.connections.Mon[i].dep,db.connections.Mon[i].arr);
				temp.fares = db.connections.Mon[i].fares;	
		
				outConn.push(temp);
				
			}
			
			for(i = 0; i < db.connections.Wed.length; i++){
				var temp2 = { dep:'', arr:'', dur:'',chg:'',fares:''};
				temp2.dep = db.connections.Wed[i].dep;
				temp2.arr = db.connections.Wed[i].arr;
				temp2.chg = db.connections.Wed[i].chg;
				temp2.dur = duration(db.connections.Wed[i].dep,db.connections.Wed[i].arr);
				temp2.fares = db.connections.Wed[i].fares;	
		
				incConn.push(temp2);
				
			}
			ractive.set('outTrains',outConn);
			ractive.set('incTrains',incConn);	
			ractive.toggle('visible',false);
		}
		else alert( 'No train connections found!' );
		}
	);
	
	function updatePayment(newValue){
		var total = Number(db.connections.Mon[ractive.get('selOutTrain')].fares) + Number(db.connections.Wed[ractive.get('selIncTrain')].fares);
		total = total.toFixed(2);
		ractive.set('payment',total);
	}
	
	ractive.observe( 'selIncTrain', function ( newValue, oldValue, keypath ) {
		updatePayment(newValue);
	});
	
	ractive.observe( 'selOutTrain', function ( newValue, oldValue, keypath ) {
		updatePayment(newValue);
	});
	
	ractive.on( 'pay', function () {
		if (ractive.get('terms')){
			alert("Ticket Booked");
			window.location.reload(false); 
		}
		alert("To proceed please accept our terms and conditions");
			
	
	});

</script>
</body>
</html>