<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1">
  <title>Ractive SVG Test</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/pure/0.6.0/pure-min.css">
</head>

<body>
  
  <div id='container'></div>

  <script id='template' type='text/ractive'>
    <div class="pure-u-1-3" ></div>
	<div class="pure-u-1-3" >
	 <h1>Ractive SVG Test</h1>
	<p>Click on the canvas to move the second point</p>
	<div class='svg-wrapper' margin="-1" padding="0">
		<svg on-click='clkSvg' width="100%" height="100%" viewBox="0 0 250 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
			<rect x="1" y="1" width="248" height="248" fill="#fff" style="stroke:#000;stroke-width:1px;"/>
			<circle cx="85" cy="85" r="3" fill="#{{colour}}"/>
			<circle cx="{{x}}" cy="{{y}}" r="3" fill="#{{colour}}"/>
		</svg>
	</div>
	<p>Coordinates X:{{x}} Y:{{y}}</p>
	</div>
	
	<div class="pure-u-1-3" ></div>
  </script>


  <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>

  <script>
    var ractive = new Ractive({
      el: '#container', 
      template: '#template',
      data: { x: '0',
			  y: '0',
			  colour: '000'
	  }
    });
	
	function mapToRange(value,a0,a1,b0,b1){
	  result = b0 + (value - a0) * (b1 - b0)/(a1 - a0);
	  result = Math.round(Math.abs(result));
	  return result;
	}
	
	ractive.on( 'clkSvg', function ( event ) {
	  var wrapper = ractive.find('.svg-wrapper');
		
	  var xCoord = event.original.pageX - wrapper.offsetLeft;
	  var yCoord = event.original.pageY - wrapper.offsetTop;
		
	  var xSvgSpace = mapToRange(xCoord,0,wrapper.clientWidth,0,250);
	  var ySvgSpace = mapToRange(yCoord,0,wrapper.clientHeight,0,250);

	  console.log(xSvgSpace);
	  console.log(ySvgSpace);

	  ractive.set('x',xSvgSpace);
	  ractive.set('y',ySvgSpace);

	  //console.log(wrapper.clientHeight);
	
	});
  </script>
</body>
</html>